#root {
    width: 100%;
    height: 100vh;
}

.piano {
    position: relative;
    height: 22%;
}

.key {
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}

.white {
    width: 4%;
    height: 100%;
    background-color: #fff;
}

.black {
    width: 2%;
    height: 55%;
    background-color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
}

.key:active {
    background-color: #ccc;
}