@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 2%;
}

.piano {
    display: flex;
    aspect-ratio: calc(550 / 125);
    width: 800px;
    max-width: 98%;
    border-block-style: hidden;
    justify-content: center;
    padding: 2% 0 1%;
}

.selections {
    text-align: center;
    width: 100%;
    gap: 15px;
    display: flex
}


.key.white.btn:hover {
    background-color: #fff;
    border-color: #000;
}

.key.black.btn:hover {
    background-color: #000;
}

.key {
    border: 1px solid #000;
    cursor: pointer;
    --bs-btn-padding-x: 0;
    border-radius: 0;
}

.white {
    width: 6%;
    height: 100%;
    background-color: #fff;
}

.key.consecutive-white {
    border-right: none;
}

.black {
    width: 3%;
    margin-left: -1.5%;
    margin-right: -1.5%;
    height: 65.625%;
    background-color: #000;
    z-index: 1;
}

.key-radios {
    visibility: hidden;
    padding-top: 10px;
    width: 75%;
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}