#root {
    width: 100%;
}

.piano {
    position: relative;
    height: 200px;
}

.key {
    border: 1px solid #000;
    border-radius: 5%;
    cursor: pointer;
    position: absolute;
}

.white {
    width: 4.5%;
    height: 100%;
    background-color: #fff;
}

.black {
    min-width: 2.25%;
    height: 55%;
    background-color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
}

.key:active {
    background-color: #ccc !important;
}

@media screen and (max-width: 360px) {
    .black {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 4px;
    }

}